In [31]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
page = requests.get('https://github.com/cleanlab/cleanlab/network/members')

In [8]:
soup = BeautifulSoup(page.text, 'html.parser')

In [29]:
usernames = []
for elt in soup.find(id='network').find_all(attrs={"data-hovercard-type" : "user"}, class_='d-inline-block'):
    usernames.append(elt.attrs['href'].strip("/"))

In [30]:
len(usernames)

224

In [63]:
df = pd.read_csv('CleanlabForkersNamesEmails.csv')

In [59]:
df['scrape_date'] = '20Sep2021'

In [41]:
new_usernames = set(usernames) - set(df['username'])

In [43]:
df2 = pd.DataFrame(new_usernames, columns=['username'])

In [45]:
df2['scrape_date'] = '19Nov2021'

In [53]:
df.sort_values('')

          username                      email            name scrape_date
0    23pointsNorth   dani.a.angelov@gmail.com  Daniel Angelov   20Sep2021
1          601SunG                        NaN             NaN   20Sep2021
2        861944653                        NaN             NaN   20Sep2021
6        AIFAN-Lab                        NaN             NaN   20Sep2021
7            AIHGF                        NaN           AIHGF   20Sep2021
..             ...                        ...             ...         ...
208    zhouleiSJTU                        NaN             NaN   20Sep2021
209          zhufz        zfz1015@outlook.com             NaN   20Sep2021
210         zsweet  zhangshiweiwork@gmail.com    Zhang shiwei   20Sep2021
211     zuoxiaolei    zuo_xiaolei@foxmail.com      zuoxiaolei   20Sep2021
212        zwzhu-d        zwzhu1995@gmail.com     Zhaowei Zhu   20Sep2021

[213 rows x 4 columns]

In [56]:
new_df = df.append(df2).reset_index(drop=True)

In [62]:
new_df.to_csv('CleanlabForkersNamesEmails.csv', index=False)